
body { background-image: linear-gradient(
  to bottom,
  rgb(247, 229, 233),
  rgb(250, 220, 235)
), url("catfront.png");
  }
li {
    display: inline;
    padding: 2px;
    background-color:#dddddd;
    border-radius: 15px;
    float:right;

  }
  /* .unor-list{
    display:flex;
    justify-content: center;
  } */
h4 {
  color: brown;
  font-size: medium;
}
div{
  height: 150px;
  width: 90%;
}
div{
    height: 150px;
    width: 90%;
}


.tableau {
  border: 2px inset rgb(234, 0, 255);
  border-radius: 10px;
}
h3 {
  color:blueviolet;
  font: sans-serif;
}
label {
  color: darkblue;
  font: small;
}
.list-ord {
  /* border: 5px dotted rgb(234, 0, 255); */
  /* border-radius: 15px; */
  margin-top: 30px;
}
.resume-tab{
  border-radius: 15px;
  border: 2px dotted rgb(234, 0, 255) ;
}
/* font-face ta3melli les fonts */
@font-face {
  font-family: "chathurabold";
  src: url("../font/chathura_bold_macroman/chachathura-bold-webfont.eot");
  font-weight: normal;
  font-style: normal;
}
